* {
    margin: 0;
    box-sizing: border-box;
    }
    body {
    background: url("https://cdn.imgchest.com/files/w7pjcw6e27p.png");
    opacity: .5;
    background-repeat: no-repeat;
    }
    .container {
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    align-items: center;
    }
    .container > * {
    background-color: lightblue;
    font-size: 10rem;
    color: blue;
    border: 2px dashed blue;
    flex-grow: 1;
    flex-shrink: 1;
    height: 200px;
    }

    .box2, .box3 {
        flex-basis: 234px; 
    }

    .box4 {
        flex-basis: 100%;
    }

    .box5 {
        flex-basis: 840px;
    }

    .box6 {
        flex-basis: 240px;
    }